html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 239px;
  position: relative;
}

.robot {
  width: 320px;
  position: relative;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.robot-body {
  width: 320px;
  position: absolute;
  top: 3.4em;
}

.robot-brain {
  width: 46px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 4em;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  top: 1em;
  left: 10em;
}

.robot-head-left {
  right: 10em;
  width: 125px;
  position: absolute;
  top: 1em;
}

.robot:hover .robot-head-left {
  right: 13em;
  top: 0.7em;
}

.robot:hover .robot-head-right {
  left: 13em;
  top: 0.7em;
}

.robot:hover .robot-brain {
  top: 3em;
}
